{% extends 'AppCoder/index.html' %}



{% block head_block %}
<title>Contacto</title>
{% endblock head_block %}

{% block body_block %}

<head>      
    <title>HTMLFont size</title>    
 </head>    
 <body> 
     <p>
        <h1 style="color:darkslateblue;font-size:40px;">Contacto</h1>       
     </p>     
    <p>
     <p style="color:rebeccapurple;font-size:18px;">Francisco Martín Carranza</p> 
     <p style="color:rebeccapurple;font-size:18px;">Tel: +5493510000000</p>
     <p style="color:rebeccapurple;font-size:18px;">Dir: Avenida Siempreviva 742</p>   
     <p style="color:rebeccapurple;font-size:18px;">Comisión 18695</p>   
    </p> 
 </body>
    
{% endblock body_block %}
